// 因为label是用的suisse类型的小字体所以放在描述这里了
%description-12 {
    font-size: 1.2rem;
}  

%description-16 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}

%description-14 {
    font-size: 1.4rem;
}
