// 因为需要多个页面复用，所以放在这里
.preloader{
  @extend %cover;
  @extend %center;

  background: $color-contessa;
  color: $color-quarter-spanish-white;
  text-align: center;
  z-index: z('preloader');

}

.preloader__text{
    font-size: 0;
    max-width: 66rem;
    line-height: 1;
    span{
      display: inline-block;
      overflow: hidden;
    }
    span span {
      @extend %title-53;
    }

}

.preloader__number{ 
    @extend %description-14;
    position:absolute;
    bottom: 7.3rem;
    left: 50%;
    transform:translateX(-50%);
    overflow: hidden;

    @include media('<phone') {
      font-size: 3rem;
    }
}

.preloader__number__text{
  display: inline-block;
}